<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Welcome</title>
    {% comment %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    {% endcomment %}
</head>
<body>
    <div class="container-flush m-2">
        <div class="row justify-content-between">
            <div class="col-6">
                <div class="fixed-top"><a href="/" class="float-right mr-5">Log Out</a></div>
                <h1 class="text-dark mb-4">
                    Success! Welcome, {{ user.first_name }}
                </h1>      
                <h1 class="text-success mb-4">
                    Successfully registered (or logged in)!
                </h1>      
            </div>
        </div>
    </div>
</body>
</html>